body{
    text-emphasis: bold;
}

/*Styling the container containing all the forms*/
.container-middle{
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

.form-container, .btn-final-page{
    max-width: 55%;
    margin:auto
}

/*Styling the Image before Header*/
.header{
    margin: 10px;
    text-align: center;
}

.header img {
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
}

.header h2 {
    display: inline-block;
}

.message{
    text-align: center;
}

.container-middle button{
    margin-top: 15px;
    display: block;
    width: 100%;
    background-color: #692fef;
}

/*Styling for card input in Form Page #3*/

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #eae9ea;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
     box-shadow: 0 0 1px 1px #692fef;
 }

.panel p{
    margin-top: 8px;
}
