body{
    text-emphasis: bold;
}

/*Styling the container containing all the forms*/
.form-container{
    max-width: 55%;
    margin:auto
}

/*Styling the Image before Header*/
.header{
    margin: 10px;
    text-align: center;
}

.header img {
    height: 40px;
    margin-bottom: 15px;
    width: 40px;    
}

.header h2 {
    display: inline-block;
}

.message{
    margin-top: 20px;
    text-align: center;
}

.body-content button{
    background-color: #692fef;
    border-radius: 5px;
    border: none;
    color: rgb(232, 222, 249);
    display: block;
    margin: 15px auto;
    outline: none;
    padding:6px;
    width: 55%;  
}

/*Styling for card input in Form Page #3*/

.card-input-element {
    display: none;
}

.card-input {
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #eae9ea;
    margin: 10px;
    padding: 10px; 
}

.card-input-element:checked + .card-input {
    box-shadow: 0 0 1px 1px #692fef;
 }

.panel p{
    margin-top: 8px;
}

.body-content{
    margin: auto;
    max-width: 60%;
}